<?xml version="1.0" ?>

<!-- # MIT License

# Copyright (c) 2023  Miguel Ángel González Santamarta

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE. -->

<robot name="body" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="body_box_length" value="3.325" />
    <xacro:property name="body_box_width" value="1.658" />
    <xacro:property name="body_box_depth" value="2.348" />
    <xacro:property name="body_box_mass" value="1200.0" />

    <xacro:include filename="$(find universal_simulation)/description/inertials.xacro"/>

    <xacro:macro name="body" params="parent">

        <link name="body_box_link">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh filename="file://$(find universal_simulation)/meshes/bases2/tractor.stl"/>
                </geometry>
                <material name="white" />
            </visual>
            <collision>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh filename="file://$(find universal_simulation)/meshes/bases2/tractor.stl"/>
                    <box size="${body_box_length} ${body_box_width} ${body_box_depth}"/>
                </geometry>
            </collision>
            <inertial>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <mass value="${body_box_mass}" />
                <inertia
                    ixx="1015.5" ixy="0.0" ixz="0.0"
                    iyy="2313.7" iyz="0.0"
                    izz="1836.5" />
            </inertial>
        </link>

            <!-- <xacro:solid_cuboid_inertial 
                rpy="0 0 0" xyz="0 0 0"
                mass="${body_box_mass}"
                x="${body_box_length}" y="${body_box_width}" z="${body_box_depth}" /> -->

        <gazebo reference="body_box_link">
            <material>Gazebo/White</material>
        </gazebo>

        <joint name="body_box_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="${parent}" />
            <child link="body_box_link" />
        </joint>

    </xacro:macro>
</robot>